.my-footer {
    background-color: #2C3333;
    margin-top: 1.5em;
    height: 5em;
    padding: 1em;
    color: #fff;
    font-size: 80%;
}

.notie-container {
  box-shadow: none;
}

.room-image{
    margin-top: 3%;
    max-width :50%
  }


.swal2-actions {
     
    z-index: 0 !important;
   
}
