{{template "base" .}}

{{define "content"}}
         
<div class="container">
    <div class="row">
      <div class="col " >
        <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto rounded mx-auto d-block room-image"  alt="roomImage">
      </div>

    </div>
    
      <div class="row">
          <div class="col">
            <h1 class ="text-center mt-4">General's Quarters</h1>
            <p>A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
            </p>
       
      </div>
  </div>
  <div class="row">
      <div class="col text-center">
        <a id="check-availability-btn"class="btn btn-success" href="#!">Check Availability</a>
      </div>
  </div>
  </div>
{{end}}

{{define "js"}}
  <script>
    document.getElementById("check-availability-btn").addEventListener("click",()=>{
      let html = `
      
      <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
      <div class="d-flex flex-row justify-content-evenly" id="reservation-dates-modal">
        <div class="p-2">
          <input  required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
        </div>

        <div class="p-2">
          <input  required class="form-control" type="text" name="end" id="end" placeholder="Departure">
        </div>
      </div>
      </form>
      `
      attention.custom({
        msg:html,
        title:"choose your date."
      })
   });
  </script>
{{end}}
