{{template "base" .}}

{{define "content"}}
         
<div class="container">
    <div class="row">
      <div class="col " >
        <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto rounded mx-auto d-block room-image"  alt="roomImage">
      </div>

    </div>
    
      <div class="row">
          <div class="col">
            <h1 class ="text-center mt-4">General's Quarters</h1>
            <p>A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
                A mysterious guest house in the deep mountains in Tokushima, Shikoku.
            </p>
       
      </div>
  </div>
  <div class="row">
      <div class="col text-center">
        <a class="btn btn-success" href="/make-reservation-gq">Check Availability</a>
      </div>
  </div>
  </div>
{{end}}

{{define "js"}}
  <script>
    
  </script>
{{end}}